<!DOCTYPE html>
<html lang="nl-BE" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bestemmingen</title>
</head>
<body>
    <header class="site-header">
        <div class="header-inner">
            <h1>Travel Dairy App</h1>
        </div>
    </header>

    <nav class="main-nav">
        <div class="nav-inner">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/allJourneys">Alle reizen</a></li>
                <li><a href="/accommodations">Accommodaties</a></li>
                <li><a href="/plannedOrPaid">Betaald / Gepland</a></li>
                <li><a href="/addJourney">Reis toevoegen</a></li>
                <li><a href="/searchCountries">Zoeken</a></li>
            </ul>

            

            <div class="nav-auth">s
                <% if (locals.user) { %>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                <% } %>
            </div>
        </div>
    </nav>
    <main>