<!DOCTYPE html>
<html lang="nl-BE" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bestemmingen</title>
</head>
<body>
    <header>
        <h1>Mijn Reizen</h1>
    </header>
    <aside>
        <nav>
        <ul>
            <li><a class="nav-button" href="http://localhost:3001/">Home</a></li>
            <li><a class="nav-button" href="http://localhost:3001/allJourneys">Alle reizen</a></li>
            <li><a class="nav-button" href="http://localhost:3001/accommodations">Alle Accommodaties</a></li>
            <li><a class="nav-button" href="http://localhost:3001/plannedOrPaid">gepland of betaald?</a></li>
            <li><a class="nav-button" href="http://localhost:3001/searchCountries">Zoek land</a></li>
        </ul>
    </nav>
    </aside>
    </aside>
    <main>